services:
  otel-collector:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: otel-collector
    command: ["--config=/etc/otelcol/config.yaml"]
    ports:
      - "4317:4317"
      - "4318:4318"
